GEMINI_API_KEY=AIzaS.......abcd..0Tl3t2TN7Td9yyWHE
NEXT_PUBLIC_SUPABASE_URL=https://bwfhi.....abcd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJ..............................abcd.............................6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNTI4MT..........................sImV4cCI6MjA4ODkyODgxOX0.Ns-tFAInjCnydedMI70q9bDEXdhXDlYWdrJvdotE21k